.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-right {
  margin: 0;
  position: absolute;
  top: 60%;
  left:80%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-left {
  margin: 0;
  position: absolute;
  top: 0%;
  left:20%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.new_list {
  margin: 0;
  position: absolute;
  top: 0%;
  left:30.5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.new_list_no_list {
  margin: 0;
  position: absolute;
  top: 70%;
  left:0%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.b {
  margin: 0;
  position: absolute;
  top: 70%;
  left:35%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.choose {
  margin: 0;
  position: absolute;
  top: 0%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

input[type="text"]::placeholder {

                /* Firefox, Chrome, Opera */
                text-align: center;
            }

input{

                /* Firefox, Chrome, Opera */
                text-align: center;
            }

figcaption {
    text-align: center
}
